@use "/styles/abstracts" as *;

.service {
  border-radius: 8px;
  border: 1px solid $color-border-grey;
  padding: $size-9;

  p {
    font-size: $size-6;
  }

  hr {
    border-top: 1px solid $color-border-grey;
  }
}

.icon {
  color: $color-gold;
  font-size: $size-10;
}

.text {
  color: $color-text-grey;
}
