@use "/styles/abstracts" as *;

.audios {
  display: grid;
  margin-block: $size-6 $size-12;
  position: relative;

  form {
    display: flex;
    flex-wrap: wrap;
    gap: $size-2;
    margin-bottom: $size-4;
    width: 100%;

    input[type="text"] {
      flex: 1;
    }

    input[type="file"] {
      width: 100%;
    }

    @include breakpoint(sm) {
      input[type="text"] {
        flex: none;
      }
    }
  }
}

.content {
  display: grid;
  gap: $size-8 $size-4;
  margin-top: $size-4;

  @include breakpoint(md) {
    grid-template-columns: repeat(2, 1fr);
    text-align: start;
  }

  @include breakpoint(xl) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.audio {
  display: grid;
  gap: $size-2;
  text-align: center;

  audio {
    width: 100%;
  }
}

.actions {
  display: flex;
  gap: $size-1;

  button {
    border-radius: $size-6;
    flex: 1;
  }
}
