@use "/styles/abstracts" as *;

.footer {
  align-items: center;
  background-color: $color-layout;
  color: $color-white;
  display: flex;
  flex-wrap: wrap;
  font-size: $size-4;
  gap: $size-5;
  justify-content: center;
  padding-bottom: $size-5;
  padding-top: $size-5;
  padding: $size-8;
  text-align: center;

  @include breakpoint(sm) {
    justify-content: space-between;
  }
}
