@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&display=swap");

// colors
$color-background-dark: #252525;
$color-background-grey: #f7f7f7;
$color-black-transparent: rgba(0, 0, 0, 0.05);
$color-black: #000;
$color-border-grey: #dfe1ea;
$color-gold: #ffa900;
$color-green: #008000;
$color-grey: rgb(217, 219, 221);
$color-layout: #213242;
$color-lightbox-background: rgba(0, 0, 0, 0.98);
$color-orange-darker: #c85000;
$color-orange-lighter: #fb8332;
$color-orange: #f27d00;
$color-red: #ff0000;
$color-text-grey: #838386;
$color-white: #fff;

// fonts
$font-arial: "Arial", sans-serif;
$font-josefin: "Josefin Sans", sans-serif;
$font-open-sans: "Open Sans", sans-serif;
$font-oswald: "Oswald", sans-serif;
$font-lato: "Lato", sans-serif;

// shadows
$shadow-button: 0 1px 3px 0 rgba(0, 0, 0, 0.02);
$shadow-button-active: 0 2px 4px rgba(0, 0, 0, 0.06);
$shadow-button-enabled: 0 4px 12px rgba(0, 0, 0, 0.1);

// sizes
$size-1: 0.25rem;
$size-2: 0.5rem;
$size-3: 0.75rem;
$size-3_5: 0.875rem;
$size-4: 1rem;
$size-4_5: 1.125rem;
$size-5: 1.25rem;
$size-6: 1.5rem;
$size-7: 1.75rem;
$size-8: 2rem;
$size-9: 2.25rem;
$size-10: 2.5rem;
$size-12: 3rem;
$size-14: 3.5rem;
$size-16: 4rem;
$size-18: 4.5rem;
$size-20: 5rem;
$size-30: 7.5rem;
$size-40: 10rem;

// z-indexes
$z-index-overlay: 1;
$z-index-drawer: 2;
$z-index-loader: 3;
$z-index-lightbox: 4;
