@use "/styles/abstracts" as *;

.header {
  align-items: center;
  background-color: $color-white;
  border-bottom: 1px solid $color-grey;
  display: flex;
  justify-content: space-between;
  padding: $size-8;
}
